@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bodoni";
  src: url("../assets/fonts/Bodoni.ttf");
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../assets/fonts/SourceSansPro.ttf");
}

@font-face {
  font-family: "Freedom";
  src: url("../assets/fonts/Freedom.ttf");
}

::-webkit-scrollbar {
  display: none;
}

.new-page {
  @apply min-h-page translate-y-[5rem];
}
.title-genius {
  text-shadow: "10px 10px 25px rgb(247 177 103),-10px 10px 25px rgb(247 177 103),-10px -10px 25px rgb(247 177 103),10px -10px 25px rgb(247 177 103)";
}
